$truePink: #F787BB;
$foggyBlue: #5FA1E4;
$raspberryPink: #F32566;
$appleGreen: #BDFFC2;
$mildViolet: #B59FF7;
$sunnyYellow: #FAFE03;
$deepPurple: #A328CD;
$blueBlue: #2A59F7;
$rustyOrange: #EE5C0E;
$transparentGrey: rgba(0, 0, 0, 0.07);
$vividBlue: #34d8ec;
$lightGrey: #dde2ee;